<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <!-- <property name="connection.driver_class">com.postgresql.cj.jdbc.driver</property>-->
        <property name="connection.url">jdbc:postgresql://localhost:5433/test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">test</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Validate  the database schema with classes on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!--Set batch size for 5 entries-->
        <property name="hibernate.jdbc.batch_size">100</property>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_11"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_12"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_13"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_14"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_15"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_16"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_17"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_18"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_19"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_20"></mapping>
        <mapping class="DataStorage.DBStorage.POJO.Scanner_ID_21"></mapping>
    </session-factory>
</hibernate-configuration>
